apiVersion: apps/v1
kind: Deployment 
metadata:
  name: hello-node
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: hello-node
  template:
    metadata:
      labels:
        app: hello-node
    spec:
      containers:
        - name: app
          image: hello-node:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service 
metadata:
  name: hello-node
spec:
  type: NodePort
  selector:
    app: hello-node
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30007